/client/logs
/client/*.log
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/lerna-debug.log*
/client/.pnpm-debug.log*
/client/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/client/pids
/client/*.pid
/client/*.seed
/client/*.pid.lock
/client/lib-cov
/client/coverage
/client/*.lcov
/client/.nyc_output
/client/.grunt
/client/bower_components
/client/.lock-wscript
/client/build/Release
/client/node_modules/
/client/jspm_packages/
/client/web_modules/
/client/*.tsbuildinfo
/client/.npm
/client/.eslintcache
/client/.rpt2_cache/
/client/.rts2_cache_cjs/
/client/.rts2_cache_es/
/client/.rts2_cache_umd/
/client/.node_repl_history
/client/*.tgz
/client/.yarn-integrity
/client/.env
/client/.env.test
/client/.env.production
/client/.cache
/client/.parcel-cache
/client/.next
/client/out
/client/.nuxt
/client/dist
/client/.cache/
/client/.vuepress/dist
/client/.serverless/
/client/.fusebox/
/client/.dynamodb/
/client/.tern-port
/client/.vscode-test
/client/.yarn/cache
/client/.yarn/unplugged
/client/.yarn/build-state.yml
/client/.yarn/install-state.gz
/client/.pnp.*
/client/.webpack/
/client/.stylelintcache
/client/.svelte-kit
/client/.DS_*
/client/**/*.backup.*
/client/**/*.back.*
/client/node_modules
/client/*.sublime*
/client/psd
/client/thumb
/client/sketch
/client/Thumbs.db
/client/Thumbs.db:encryptable
/client/ehthumbs.db
/client/ehthumbs_vista.db
/client/*.stackdump
/client/[Dd]esktop.ini
/client/$RECYCLE.BIN/
/client/*.cab
/client/*.msi
/client/*.msix
/client/*.msm
/client/*.msp
/client/*.lnk
/client/node_modules
/client/.pnp
/client/.pnp.js
/client/coverage
/client/build
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*
/backend/.pnpm-debug.log*
/backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/backend/pids
/backend/*.pid
/backend/*.seed
/backend/*.pid.lock
/backend/lib-cov
/backend/coverage
/backend/*.lcov
/backend/.nyc_output
/backend/.grunt
/backend/bower_components
/backend/.lock-wscript
/backend/build/Release
/backend/node_modules/
/backend/jspm_packages/
/backend/web_modules/
/backend/*.tsbuildinfo
/backend/.npm
/backend/.eslintcache
/backend/.rpt2_cache/
/backend/.rts2_cache_cjs/
/backend/.rts2_cache_es/
/backend/.rts2_cache_umd/
/backend/.node_repl_history
/backend/*.tgz
/backend/.yarn-integrity
/backend/.env
/backend/.env.test
/backend/.env.production
/backend/.cache
/backend/.parcel-cache
/backend/.next
/backend/out
/backend/.nuxt
/backend/dist
/backend/.cache/
/backend/.vuepress/dist
/backend/.serverless/
/backend/.fusebox/
/backend/.dynamodb/
/backend/.tern-port
/backend/.vscode-test
/backend/.yarn/cache
/backend/.yarn/unplugged
/backend/.yarn/build-state.yml
/backend/.yarn/install-state.gz
/backend/.pnp.*
/backend/.webpack/
/backend/.stylelintcache
/backend/.svelte-kit
/backend/.DS_*
/backend/**/*.backup.*
/backend/**/*.back.*
/backend/node_modules
/backend/*.sublime*
/backend/psd
/backend/thumb
/backend/sketch
/backend/Thumbs.db
/backend/Thumbs.db:encryptable
/backend/ehthumbs.db
/backend/ehthumbs_vista.db
/backend/*.stackdump
/backend/[Dd]esktop.ini
/backend/$RECYCLE.BIN/
/backend/*.cab
/backend/*.msi
/backend/*.msix
/backend/*.msm
/backend/*.msp
/backend/*.lnk