body.active-modal {
  overflow-y: hidden;
}
.modal {
  margin: 10px;
  padding: 20px;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.modal-content {
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecf5f6;
}

.vistaPrevia h2 {
  text-align: center;
  margin-bottom: 15px;
}
.btn-agregar-avance {
  width: 25%;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%)
}
.btn-agregar-avance button {
  position: fixed;
  left: 15%;
  width: 300px;
  border: none;
  outline: none;
  height: 40px;
  background: #2c49a0;
  color: #fff;
  font-size: 18px;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 20px;
}

.btn-modal {
  width: 25%;
  background: #2c49a0;
  color: #fff;
  position: relative;
  left: 75%;
}
.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.editar-vista-container {
  display: block;
  align-items: center;
}
.editar-vista-container h2{
  text-align: center;
  margin-bottom: 15px;
}
.editar-vista-container label {
  margin-bottom: 15px;
}

.editar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  flex-direction: column;
  
}

.vista-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  display: block;
  align-items: center;
  margin-bottom: 20px;
}

.btn-cambios {
  width: 25%;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%)
}
.btn-cambios button {
  left: 15%;
  width: 300px;
  border: none;
  outline: none;
  height: 30px;
  background: #2c49a0;
  color: #fff;
  font-size: 18px;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 20px;
}
.container-avance {
  width: 700px;
}
