.Contenedor-proyectos h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.Lista-opciones {
  margin-top: 15px;
  justify-content: space-evenly;
  flex-direction: row;
}
.detalles-button Button {
  text-transform: initial;
  margin-left: 25px;
}
